body {
  background-color: #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

ul {
  list-style: none;
}
.App {
  text-align: center;
}

h1 {
  font-size: 55px;
}

.addTask > * {
  display: block;
  text-align: center;
  margin: 0 auto;
}


.editBox, .editButton {
  display: none;
  margin: 0 auto;
}

input[type='checkbox'] {
  border: none;
  background-color: black;
}

.loading { 
  color: red;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .taskLists {
    display: flex;
  }
  
  .taskList {
    flex: 1;
  }
}